.navbar {
  height: 18vh;
  margin: 20px;
  margin-top: 35px;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  background: #00000099;
  backdrop-filter: blur(10px);
  z-index: 10;
}
.sonaQodeIcon {
  width: 200px;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  margin-top: 0;
  padding: 20px;
  border-radius: 20px;
}
.dropdown-item:focus,
.dropdown-item:active {
  background: none;
  color: inherit;
  outline: none;
  box-shadow: none;
}
.dropdown-menu .dropdown-div {
  border-radius: 50%;
  padding: 5px;
}

.dropdown-menu .dm-first {
  background: #c0caff;
}
.dropdown-menu .dm-second {
  background: #ffe1a5;
}
.dropdown-menu .dm-third {
  background: #93ff98;
}
.quote-button {
  padding: 10px 35px;
  color: #0e6ba4;
  background: #fff;
}
.nav-link {
  color: #fff;
}
.nav-link:hover {
  color: #1596e6;
}
/* edited navbar overlay */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px;
  width: 100%;
  height: 100%;
  background: #e6f2ff;
  z-index: 1000;
}

.overlay-content .nav-link,
.overlay-content .dropdown-item {
  color: #0e6ba4;
}
.overlay-content .dropdown-menu {
  background: inherit;
  border: 0;
  padding: 10px 0px 10px 20px;
}
.overlay-content .dropdown-menu {
  display: block;
}
.overlay-content .dropdown-menu .dropdown-item {
  padding: 4px 10px;
}
.overlay-close-div {
  position: absolute;
  right: 7vw;
  top: 15px;
}
.overlay .overlay-close-icon {
  color: #0e6ba4;
  font-size: 33px;
  cursor: pointer;
}
.overlay .overlay-quote-button {
  padding: 15px 35px;
  background: #0e6ba4;
  color: #fff;
}

@media (max-width: 768px) {
  .sonaQodeIcon {
    width: 180px;
  }
  .navbar-toggler-icon {
    font-size: 20px;
  }
  .navbar {
    margin-top: 20px;
    height: 15vh;
  }
}
