.cyber-security-service .software-development-inner-div {
  background: #d1ffd9;
}

.cyber-security-service .see-service-button {
  color: #25e44f;
}
.cyber-security-service .see-service-button:hover {
  background: #25e44f;
}
.cyber-security-service .product-amount-div p span {
  display: none;
}

.cyber-security-service .experts-assistance-div,
.cyber-security-service .how-to-initiate-div {
  background: #d1ffd9;
  border-radius: 100px;
}

.cyber-security-service .experts-assistance-flex-div .data-analytic-hide {
  display: none !important;
}
.cyber-security-service .text-sona-purple {
  color: #25e44f;
}
.cyber-security-service .how-it-works {
  background: #d1ffd9;
}
.cyber-security-service .path-color {
  color: #25e44f;
}
@media (max-width: 480px) {
  .cyber-security-service .software-dev-image-div img {
    height: 65vh;
  }
  .cyber-security-service .h1-heading {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
  }
  .cyber-security-service .software-development-service-inner {
    margin-top: 100px;
  }
  .cyber-security-service .experts-assistance-div {
    border-radius: 50px;
    padding: 0px 20px;
  }
}
