.software-development {
  margin-top: 13rem;
}
.software-development-inner-div {
  height: 110vh;
  border-radius: 100px;
  background: #cdcbff;
}
.software-development-inner-div h2 {
  font-family: "Clash Display", sans-serif;
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 3.5rem;
}
.software-development-inner-div p {
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.8rem;
}
.software-development-inner-div .flex-image {
  width: 6rem;
}
.see-service-button {
  padding: 18px 45px;
  color: #9747ff;
  background: #fff;
}
.software-dev-image-div {
  background: url("src/assets/softwareDevelopment/software-development.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 90%;
  border-radius: 60px;
}
